<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body class="container1">
    <div class="card">
        <h2 class="color1">Registration</h2>
        <form method="post">
            <label for="username">Name:</label><br>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <label for="phone">Phone:</label><br>
            <input type="text" id="phone" name="phone" required><br><br>
            <label for="aadhar">Aadhar Number:</label><br>
            <input type="text" id="aadhar" name="aadhar" required><br><br><br>
            <input type="submit" id="start-button" value="Register">
        </form>
        <form action="/login" method="get,post">
            <button id="start-button">Login</button>
        </form>
    </div>
</body>
</html>
